@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/OpenSansCondensed-Bold.woff2") format("woff2"), url("../fonts/OpenSansCondensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans Condensed", Verdana, sans-serif;
  margin: 0 auto;
  background-color: aqua;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.subtitle {
  font-size: 64px;
  letter-spacing: 6.4px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 1135px) {
  .subtitle {
    font-size: 48px;
    letter-spacing: 4.8px;
  }
}

.subtitle-accent {
  color: #D1A954;
}

.header__wrapper {
  position: relative;
  margin: 0 auto;
  display: flex;
}

.header__aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding-bottom: 56px;
  gap: 40px;
  background-color: rgba(51, 51, 51, 0.75);
  width: 150px;
}
@media (max-width: 869px) {
  .header__aside {
    display: none;
  }
}

.header__aside-text {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #C4C4C4;
}

.header__aside-line {
  display: inline-block;
  width: 3px;
  height: 80px;
  background-color: #C4C4C4;
}

.header__social li {
  margin-bottom: 30px;
}

.header__content {
  flex-grow: 1;
}

.header__bacground-picture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__menu {
  max-width: 1110px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1076px) {
  .header__menu {
    justify-content: center;
  }
}
@media (max-width: 869px) {
  .header__menu {
    justify-content: space-between;
  }
}

.hamburger {
  display: none;
  width: 40px;
  height: 40px;
  margin-left: 33px;
  position: relative;
}
.hamburger span:nth-child(1) {
  width: 30px;
  height: 3px;
  top: 10px;
}
.hamburger span:nth-child(2) {
  width: 20px;
  height: 3px;
  top: 18px;
}
.hamburger span:nth-child(3) {
  width: 10px;
  height: 3px;
  top: 26px;
}
@media (max-width: 869px) {
  .hamburger {
    display: block;
  }
}

.hamburger__line {
  display: block;
  position: absolute;
  background-color: #FFFFFF;
  left: 5px;
}

.header__navigation {
  flex-grow: 1;
  margin-right: 149px;
}
@media (max-width: 1076px) {
  .header__navigation {
    margin-left: 40px;
    margin-right: 109px;
  }
}
@media (max-width: 869px) {
  .header__navigation {
    display: none;
  }
}

.header__navigation-list {
  max-width: 822px;
  display: flex;
  justify-content: space-between;
}

.header__navigation-link {
  font-size: 18px;
  color: #FFFFFF;
  margin: 0 10px;
}

.header__phone {
  margin: 0 10px;
}
@media (max-width: 1076px) {
  .header__phone {
    margin-top: 50px;
  }
}
@media (max-width: 869px) {
  .header__phone {
    margin-top: 0;
    margin-right: 33px;
  }
}

.header__phone-text {
  font-size: 16px;
  letter-spacing: 0.8px;
  color: #FFFFFF;
}

.header__phone-line {
  display: block;
  margin-top: 5px;
  height: 2px;
  background-color: #D1A954;
}

.header__block {
  justify-content: center;
  display: flex;
  align-items: end;
  gap: 71px;
  margin-top: 191px;
  margin-bottom: 210px;
}
@media (max-width: 1202px) {
  .header__block {
    margin-bottom: 375px;
  }
}
@media (max-width: 1076px) {
  .header__block {
    margin-bottom: 320px;
  }
}
@media (max-width: 869px) {
  .header__block {
    margin: 165px 33px 148px 33px;
  }
}
@media (max-width: 577px) {
  .header__block {
    margin-top: 70px;
    margin-bottom: 43px;
  }
}

.header__description {
  max-width: 619px;
  margin-left: 10px;
}
@media (max-width: 1202px) {
  .header__description {
    max-width: 690px;
  }
}

.header__title {
  text-align: center;
  font-size: 48px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 50px;
}
@media (max-width: 1076px) {
  .header__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 869px) {
  .header__title {
    font-size: 36px;
    margin-bottom: 20px;
  }
}

.header__description-text {
  font-family: Open Sans;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 22px;
  color: #FFFFFF;
}

.header__description-content {
  max-width: 591px;
  margin: 0 auto;
}
@media (max-width: 1202px) {
  .header__description-content {
    max-width: 690px;
  }
}
@media (max-width: 869px) {
  .header__description-content {
    max-width: 540px;
  }
}

.header__description-button {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 25px;
  padding: 12px 47px 12px 47px;
  color: #FFFFFF;
  background-color: #D1A954;
}

.header__slider {
  margin-right: 10px;
}
@media (max-width: 1202px) {
  .header__slider {
    display: none;
  }
}

.header__slider-button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
}

.header__slider-button_accent {
  color: #C4C4C4;
}

.header__slider-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}

.main__wrapper {
  margin: 0 auto;
}

.about {
  margin: 0 auto;
  text-align: center;
  background-color: #333333;
  padding-top: 140px;
  padding-bottom: 140px;
}
@media (max-width: 769px) {
  .about {
    padding-top: 90px;
    padding-bottom: 109px;
  }
}

.about__subtitle {
  font-size: 21px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 685px) {
  .about__subtitle {
    text-align: center;
  }
}

.about__numbers-content {
  display: flex;
  flex-direction: column;
}
@media (max-width: 685px) {
  .about__numbers-content {
    flex-direction: row;
    gap: 50px;
  }
}

.about__content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 80px;
}
@media (max-width: 1135px) {
  .about__content-wrapper {
    margin-top: 100px;
  }
}
@media (max-width: 769px) {
  .about__content-wrapper {
    margin-top: 60px;
  }
}

.about__description {
  max-width: 445px;
  text-align: start;
  margin-left: 10px;
  margin-right: 10px;
}
@media (max-width: 685px) {
  .about__description {
    max-width: 514px;
  }
}

.about__text {
  font-family: Open Sans;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  margin-top: 35px;
}

.about__numbers {
  text-align: start;
}

.about__numbers-one {
  margin-top: 35px;
}

.about__numbers-text {
  letter-spacing: 0.8px;
  color: #FFFFFF;
  margin-top: 15px;
}

.about__numbers-two {
  margin-top: 20px;
}
@media (max-width: 685px) {
  .about__numbers-two {
    margin-top: 35px;
  }
}

.about__photo {
  display: block;
  margin-right: 10px;
}
@media (max-width: 1135px) {
  .about__photo {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */