@font-face {
	font-family: 'Open Sans Condensed';
	src: url('../fonts/OpenSansCondensed-Bold.woff2') format('woff2'), url('../fonts/OpenSansCondensed-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@import "./base/normalize";

@import "./base/constants";

@import "./base/base";


@import "./layouts/header";
@import "./layouts/about";
@import "./layouts/projects";
@import "./layouts/rating";
@import "./layouts/partners";
@import "./layouts/contacts";
@import "./layouts/footer";