.projects {
    margin: 0 auto;
    text-align: center;
    background-color: $color-background;
    padding-bottom: 90px;
    @media (max-width: 1135px) {
        padding-bottom: 120px;
    }
    @media (max-width: 769px) {
        padding-bottom: 25px;
    }
    @media (max-width: 600px) {
        padding-bottom: 5px;
    }
}

.projects__container {
    margin-top: 78px;
    margin-bottom: 89px;
    margin-left: 150px;
    overflow: hidden;
    @media (max-width: 1135px) {
        margin-left: 190px;
        margin-right: 100px;
    }
    @media (max-width: 769px) {
        margin-left: 39px;
        margin-right: 39px;
    }
}

.projects__slider {
    display: flex;
}
